Cheetah==2.4.4
Django==1.8.13
Markdown==2.6.5
Pillow==2.9.0
PyYAML==3.10
SecretStorage==2.0.0
Unidecode==0.04.18
Werkzeug==0.10.4
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.13
colorama==0.2.5
configobj==4.7.2
django-asyncmailer==0.5.1
django-bitfield==1.8.0
django-braces==1.8.1
django-devserver==0.8.0
django-extensions==1.6.7
django-jsonfield==0.9.13
django-markdown==0.8.4
django-ratelimit==1.0.0
django-suit-redactor==0.0.4
django-suit==0.2.19
flake8==2.4.1
guppy==0.1.10
html5lib==0.999
httplib2==0.8
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
kombu==3.0.30
launchpadlib==1.10.2
lazr.uri==1.0.3
line-profiler==1.0
mccabe==0.3.1
oauth==1.0.1
pep8==1.5.7
prettytable==0.7.2
psycopg2==2.5.3
pyOpenSSL==0.14
pycrypto==2.6.1
pycurl==7.19.3
pyflakes==0.8.1
pyserial==2.6
python-dateutil==2.2
python-memcached==1.53
python-slugify==1.1.3
pytz==2014.4
qiniu==7.0.5
raven==5.0.0
requests==2.4.3
simplejson==3.3.1
six==1.8.0
sqlparse==0.1.15
ssh-import-id==3.21
urllib3==1.7.1
virtualenv==1.11.4
wadllib==1.3.2
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
